/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap'); */
body, html {
    height: 100%;
    margin: 0;
    background-color: #F8F9FA;
    /* font-family: ; */
  }

.nav-custom{
    background-color: #495057;
}

.logo-nav{
    max-height: 30px;
}

.btn-nav{
    min-width: 7rem;
    color: #F8F9FA;
    background-color: #5C8001;
    /* border-color: #A1C349; */
    border:none;
    font-weight: 500;
}

.btn-nav-outline{
    min-width: 7rem;
    color: #5C8001;
    background-color: #F8F9FA;
    /* border-color: #A1C349; */
    border: 3px solid #5c8001;
    font-weight: 500;
}

.hero-image {
    background-image: url("../img/carousel.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0px 0px 100px 100px;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    bottom: 20%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
  }

  .hero-text h1{
    font-size: 4rem;
  }
  

  .section1-image {
    background-image: url("../img/layout1.png");
    width: 100%;
    height: 450px;
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: fill;
    /* border-radius: 0px 0px 100px 100px; */
  }
  
  .section1-text {
    text-align: right;
    position: absolute;
    top: 25%;
    right: 10%;
    /* transform: translate(-50%, -50%); */
  }

  .section1-text .text-box{
    width: 60vw;
  }
  

  .section2-image {
    background-image: url("../img/layout2.png");
    width: 100%;
    height: 500px;
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: fill;
    /* border-radius: 0px 0px 100px 100px; */
  }
  
  .section2-text {
    text-align: left;
    position: absolute;
    top: 10%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
  }

  .section2-text .text-box{
    width: 60vw;
  }

  .card1 {
    --bs-bg-opacity: 1;
    background-color: #A1C349 !important;
    color: white;
    text-align: center;
    position: absolute;
    align-items: center;
    /* transform: translate(-50%, -50%); */
  }

  .judul-section{
    color: #5C8001;
  }
  
  .section3-image {
    background-image: url("../img/layout3.png");
    width: 100%;
    height: 600px;
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: fill;
    /* border-radius: 0px 0px 100px 100px; */
  }
  
  .section3-text {
    text-align: right;
    position: absolute;
    top: 20%;
    right: 10%;
    /* left: 10%; */
    /* transform: translate(-50%, -50%); */
  }

  .section2-text .text-box{
    width: 60vw;
  }

  .card2 {
    --bs-bg-opacity: 1;
    background-color: #F8F9FA !important;
    /* color: white; */
    text-align: left;
    position: absolute;
    /* align-items: center; */
    /* transform: translate(-50%, -50%); */
  }

  .subjudul-section{
    color: #5C8001;
    font-weight: bold;
    font-size: x-large;
  }

  .section4-image {
    background-image: url("../img/layout4.png");
    width: 100%;
    height: 550px;
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: fill;
    /* border-radius: 0px 0px 100px 100px; */
  }
  
  .section4-text {
    text-align: left;
    position: absolute;
    top: 15%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
  }

  .profile {
    --bs-bg-opacity: 1;
    /* background-color: #A1C349 !important; */
    color: #5C8001;
    text-align: center;
    position: absolute;
    align-items: center;
    font-size: 1.3rem;
    font-weight:700;
    /* transform: translate(-50%, -50%); */
  }

  .login-image {
    background-image: url("../img/hero-1.jpg");
    /* width: 100%; */
    /* height: 550px; */
    /* height: 100%; */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    /* object-fit: fill; */
    /* border-radius: 0px 0px 100px 100px; */
  }
  